.login { 
    form {
        margin-bottom: 32px;
    }
    
    form button {
        margin-top: 20px;
    }

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
    
}
