<ion-header> 
  <ion-navbar>
    <ion-title>Welo Airplane's Detail</ion-title>
  </ion-navbar> 
</ion-header>
<ion-content class="vehicle-detail">
   <div>
    <ion-slides [options]="slideOptions">
      <ion-slide *ngFor="let pic of vehiclePictures">
        <img [src]="pic"/>
      </ion-slide>
    </ion-slides>
  </div>
  <hr class="divider">
  <ion-item class="border-bottom">
    <ion-avatar item-left class="renter-avatar">
      <img src="img/profile-1.jpg">
    </ion-avatar>
    <h1>Pedro Elton</h1>
    <p>Welo Airplane</p>
    <p>An Airplane XPTO in Toronto</p>
    <div>
      <ion-icon primary name="star"></ion-icon>
      <ion-icon primary name="star"></ion-icon>
      <ion-icon primary name="star"></ion-icon>
      <ion-icon primary name="star"></ion-icon>
      <ion-icon primary name="star-outline"></ion-icon>
      <span>20</span>
    </div>
    <ion-icon primary name="heart-outline"></ion-icon>
  </ion-item>
  <ion-item padding> 
     <ion-row class="vehicle-info">
      <ion-col width-40>
        <ion-row>
          <ion-col width-60>
            <p>
              R$ <span class="currency">300</span>
            </p>
          </ion-col>
          <ion-col width-40 class="small">
            <p>
              BRL
            </p>
            <p>
              PER DAY.
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col width-30>
         <p>
          <ion-icon name="hand" class="jumbo-icon"></ion-icon>
        </p>
        <p>
          Driver
        </p>
      </ion-col>
      <ion-col width-30>
        <p>
          <ion-icon name="plane" class="jumbo-icon"></ion-icon>
        </p>
        <p>
          Airplane
        </p>
      </ion-col>
    </ion-row>
  </ion-item>
  <button ion-button full primary class="strong bottom" (click)="bookVehicle()">Instant Booking</button>

</ion-content>



<!--<ion-content class="vehicle-detail">
   <div>
    <ion-slides [options]="slideOptions">
      <ion-slide *ngFor="let pic of vehiclePictures">
        <img [src]="pic"/>
      </ion-slide>
    </ion-slides>
  </div>
  <hr class="divider">
  <ion-item class="border-bottom">
    <ion-avatar item-left class="renter-avatar">
      <img src="img/profile-1.jpg">
    </ion-avatar>
    <h1>Pedro Elton</h1>
    <p>Welo Airplane</p>
    <p>An Airplane XPTO in Toronto</p>
    <div>
      <ion-icon primary name="star"></ion-icon>
      <ion-icon primary name="star"></ion-icon>
      <ion-icon primary name="star"></ion-icon>
      <ion-icon primary name="star"></ion-icon>
      <ion-icon primary name="star-outline"></ion-icon>
      <span>20</span>
    </div>
    <ion-icon primary name="heart-outline"></ion-icon>
  </ion-item>
  <ion-item padding> 
     <ion-row class="vehicle-info">
      <ion-col width-40>
        <ion-row>
          <ion-col width-60>
            <p>
              R$ <span class="currency">300</span>
            </p>
          </ion-col>
          <ion-col width-40 class="small">
            <p>
              BRL
            </p>
            <p>
              PER DAY.
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col width-30>
         <p>
          <ion-icon name="hand" class="jumbo-icon"></ion-icon>
        </p>
        <p>
          Driver
        </p>
      </ion-col>
      <ion-col width-30>
        <p>
          <ion-icon name="plane" class="jumbo-icon"></ion-icon>
        </p>
        <p>
          Airplane
        </p>
      </ion-col>
    </ion-row>
  </ion-item>
  <button ion-button full primary class="strong bottom" (click)="bookVehicle()">Instant Booking</button>

</ion-content>-->
