.vehicle-detail {
     .renter-avatar{
        background: $base-color;
        border-radius: 4rem;
        padding: 3px;
    }

    .strong {
        font-weight: bold;
    }

    .bottom {
        position:relative;
        bottom: 0;
    } 

    .currency{ 
        font-size: 2em;
        font-weight: bold;
    }
    
    .small p {
        font-size: .9rem;
    }

    .jumbo-icon {
        font-size: 5rem;
    }

    .vehicle-info p{
        text-align: center;
    }

    .border-bottom {
        border-bottom: 1px solid #ccc
    }
}
